<div id="all-items">
  <div class="items">
    <div class="item-left">
      <img src="../../../../../assets/images/items/item1.png" alt="watch" class="img">
      <div class="text">
        <p class="item-title">10 For 1 Multivitamin</p>
        <p class="description">Lorem Ipsum Dolor Sit Amet, Consetetur
             <br> Sadipscing Elitr, Sed Diam Nonumy </p>
        <p class="cost">$17.50</p>
      </div>
    </div>
    <div class="item-right">
      <select>
        <option>0.5 Kg</option>
        <option>1 kg</option>
      </select>
      <div class="counter">
        <a (click)="increment(0)">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-lg"
            viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
          </svg>
        </a>
        <div id="numbers"><p>{{numArr[0].displayNum}}</p></div>
        <a (click)="decrement(0)">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash-lg"
            viewBox="0 0 16 16">
            <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
          </svg>
        </a>
      </div>
    </div>
  </div>

    <div class="items">
      <div class="item-left">
        <img src="../../../../../assets/images/items/item2.png" alt="watch" class="img">
        <div class="text">
          <p class="item-title">NRG Plus Dog Food Supplement - 500G</p>
          <p class="description">Lorem Ipsum Dolor Sit Amet, Consetetur
            <br> Sadipscing Elitr, Sed Diam Nonumy
          </p>
          <p class="cost">$25.00</p>
        </div>
      </div>
      <div class="item-right">
        <select>
          <option>0.5 Kg</option>
          <option>1 kg</option>
        </select>
        <div class="counter">
          <a (click)="increment(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-lg"
              viewBox="0 0 16 16">
              <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
            </svg>
          </a>
          <div id="numbers">{{numArr[1].displayNum}}</div>
          <a (click)="decrement(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash-lg"
              viewBox="0 0 16 16">
              <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
            </svg>
          </a>
        </div>
      </div>
    </div>


      <div class="items">
        <div class="item-left">
          <img src="../../../../../assets/images/items/item3.png" alt="watch" class="img">
          <div class="text">
            <p class="item-title">10 For 1 Multivitamin</p>
            <p class="description">Lorem Ipsum Dolor Sit Amet, Consetetur
              <br> Sadipscing Elitr, Sed Diam Nonumy
            </p>
            <p class="cost">$34.25</p>
          </div>
        </div>
        <div class="item-right">
          <select>
            <option>0.5 Kg</option>
            <option>1 kg</option>
          </select>
          <div class="counter">
            <a (click)="increment(2)">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
              </svg>
            </a>
            <div id="numbers">{{numArr[2].displayNum}}</div>
            <a (click)="decrement(2)">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash-lg"
                viewBox="0 0 16 16">
                <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
              </svg>
            </a>
          </div>
        </div>
      </div>


        <div class="items">
          <div class="item-left">
            <img src="../../../../../assets/images/items/item1.png" alt="watch" class="img">
            <div class="text">
              <p class="item-title">10 For 1 Multivitamin</p>
              <p class="description">Lorem Ipsum Dolor Sit Amet, Consetetur
                <br> Sadipscing Elitr, Sed Diam Nonumy
              </p>
              <p class="cost">$17.50</p>
            </div>
          </div>
          <div class="item-right">
            <select>
              <option>0.5 Kg</option>
              <option>1 kg</option>
            </select>
            <div class="counter">
              <a (click)="increment(3)">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-lg"
                  viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
                </svg>
              </a>
              <div id="numbers">{{numArr[3].displayNum}}</div>
              <a (click)="decrement(3)">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash-lg"
                  viewBox="0 0 16 16">
                  <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z" />
                </svg>
              </a>
            </div>
          </div>
        </div>


</div>