<div class="left-peas">
  <p>Search</p>
  <input class="search-box" type="text" placeholder="What Are You Looking For?">


  <p class="title">Sort By:</p>
  <div class="radio-button">
    <label for="age1">Price: Low To High</label>
    <a href="#input1" id="input1"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Price: High To Low</label>
    <a href="#input2" id="input2"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Price: Low To High</label>
    <a href="#input3" id="input3"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Price: High To Low</label>
    <a href="#input4" id="input4"><input type="radio" id="age" name="age" value="30"></a>
  </div>

  <p class="title">Category:</p>
  <div class="radio-button">
    <label for="age1">Supplemets</label>
    <a href="#input5" id="input5"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Anti-Biotics</label>
    <a href="#input6" id="input6"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Anti-Inflammatory</label>
    <a href="#input7" id="input7"><input type="radio" id="age" name="age" value="30"></a>
  </div>
  <div class="radio-button">
    <label for="age1">Vaccines</label>
    <a href="#input8" id="input8"><input type="radio" id="age" name="age" value="30"></a>
  </div>

  <div class="radio-button">
    <label for="age1">Analgesics</label>
    <a href="#input9" id="input9"><input type="radio" id="age" name="age" value="30"></a>
  </div>

  <div class="radio-button">
    <label for="age1">Anesthetics</label>
    <a href="#input10" id="input10"><input type="radio" id="age" name="age" value="30"></a>
  </div>

  <div class="radio-button">
    <label for="age1">Scheduled Drugs</label>
    <a href="#input11" id="input11"><input type="radio" id="age" name="age" value="30"></a>
  </div>

  <div class="radio-button">
    <label for="age1">Tropical Drugs</label>
    <a href="#input12" id="input12"><input type="radio" id="age" name="age" value="30"></a>
  </div>

</div>