.menu {
  width: 16.8%;
  min-width: 260px;
  height: 100%;
  background: #14a29d;
  /* font-size: 20px; */
  float: left;
  position: fixed;
  padding-top: 2%;
}

a > .nav-icon {
  margin-right: 11%;
  /* fill: #fff; */
}

/* a > .nav-icon:target {
  fill: #000;
} */

a svg {
  transition: fill 0.5s;
  fill: #fff;
}

a:target svg {
  fill: #000 !important;
}
.fillNone {
  fill: none !important;
}

.menu > .main-icon {
  margin-bottom: 8.7%;
  padding-left: 30%;
}

.menu > .footer-buttons {
  margin-top: 100px;
}

.menu > a {
  position: relative;
  display: block;
  text-decoration: none;
  width: 78%;
  height: 65px;
  color: #fdfff4;
  float: right;
  border-radius: 50px 0 0 50px;
  line-height: 65px;
  transition: color 0.5s;
  padding-left: 8.4%;
  text-transform: capitalize;
}

.menu > a:target {
  color: #2a2a2a;
  background-color: #fdfff4;
}

.menu > a::after,
.menu > a::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
  z-index: -1;
}

.menu > a::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

.menu > a:target:after {
  box-shadow: 0 25px 0 0 #fdfff4;
}

.menu > a:target:before {
  box-shadow: 0 -25px 0 0 #fdfff4;
}

/* .menu > a::after{
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 0 50% 0 0;
  top: -50px;
  right: 0;
  background-color: red;
} */

.grid-web {
  /* background-color: #14a29d; */
}

.grid-mob {
  background-color: pink;
}

/* mobile view */
@media screen and (max-width: 700px) {
  .grid-web {
    display: none;
  }
}

/* web view */
@media screen and (min-width: 701px) {
  .grid-mob {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .menu > a {
    height: 45px;
    line-height: 45px;
  }

  .menu > .footer-buttons {
    margin-top: 30px;
  }
}
