.menu {
  width: 16.8%;
  min-width: 260px;
  height: 100%;
  background: #14a29d;
  float: left;
  position: fixed;
  padding-top: 2%;
}

a > .nav-icon {
  margin-right: 11%;
}

a svg {
  transition: fill 0.5s;
  fill: #fff;
}

a:target svg {
  fill: #000 !important;
}
.fillNone {
  fill: none !important;
}

.menu > .main-icon {
  margin-bottom: 8.7%;
  padding-left: 30%;
}

.menu > .footer-buttons {
  margin-top: 100px;
}

.menu > a {
  position: relative;
  display: block;
  text-decoration: none;
  width: 78%;
  height: 69px;
  color: #fff;
  float: right;
  border-radius: 50px 0 0 50px;
  line-height: 69px;
  transition: color 0.5s;
  padding-left: 8.4%;
  text-transform: capitalize;
}

.menu > a:target {
  color: #2a2a2a;
  background-color: #fff;
}

.menu > a::after,
.menu > a::before {
  content: "";
  position: absolute;
  top: -150px;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 0 0 50% 0;
  z-index: -1;
}

.menu > a::before {
  top: auto;
  bottom: -150px;
  border-radius: 0 50% 0 0;
}

.menu > a:target:after {
  box-shadow: 0 69px 0 0 #fff;
}

.menu > a:target:before {
  box-shadow: 0 -69px 0 0 #fff;
}

.grid-mob {
  background-color: pink;
}

/* mobile view */
@media screen and (max-width: 700px) {
  .grid-web {
    display: none;
  }
}

/* web view */
@media screen and (min-width: 701px) {
  .grid-mob {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .menu > a {
    height: 45px;
    line-height: 45px;
  }

  .menu > .footer-buttons {
    margin-top: 30px;
  }

  .menu > a::after,
  .menu > a::before {
    content: "";
    position: absolute;
    top: -120px;
    right: 0;
    width: 120px;
    height: 120px;
    border-radius: 0 0 42% 0;
    z-index: -1;
  }

  .menu > a::before {
    top: auto;
    bottom: -120px;
    border-radius: 0 42% 0 0;
  }

  .menu > a:target:after {
    box-shadow: 0 45px 0 0 #fff;
  }

  .menu > a:target:before {
    box-shadow: 0 -45px 0 0 #fff;
  }
}
